/* Styles for specific elements and classes */

#entitytypes {
  color: #ffffff;
}

#entities, #entitytypes {
  padding-left: 20px;
  background-color: #367fa9;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

#milestones {
  border-bottom: 0.25px solid #aaaaaa;
  margin-bottom: 10px;
}

#generation {
  margin-top: 10px;
}
